<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a New Note</title>
</head>
<body>
    <h1>Create a New Note</h1>

    <%= console.log('hello') %>
    <script>
        console.log('eat 10 radishes')
    </script>

    <form action="/notes" method="post">
        <input type="text" name="title" />
        <textarea name="body" cols="30" rows="10"></textarea>
        <input type="submit" value="Submit">
    </form>
</body>
</html>