<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notify Show</title>
</head>
<body>
    <h1><%= title %></h1>
    <p><%= body %></p>
    <li>
        <ul><%= create %></ul>
    </li>
    <a href="<%=id%>/edit">to edit</a>
</body>
</html>